<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" placeholder="ایمیل">
        </mat-form-field>
      </div>
      <div class="col-auto">
        <section>
          <mat-checkbox color="primary"  [(ngModel)]="user.enabled">
            <span>فعال ؟ </span>
          </mat-checkbox>
        </section>
      </div>
      <div class="col-auto">
        <mat-form-field>
          <input matInput [(ngModel)]='user.firstName' placeholder="نام">
        </mat-form-field>
      </div>
      <div class="col-auto">
        <mat-form-field>
          <input matInput [(ngModel)]='user.lastName' placeholder="شهرت">
        </mat-form-field>
      </div>
      <div class="col-auto">
        <mat-form-field>
          <input matInput [(ngModel)]='user.password' placeholder="رمز">
        </mat-form-field>
      </div>
      <div class="col-auto">
          <mat-checkbox   [(ngModel)]="user.tokenExpired"></mat-checkbox>
      </div>
      <div class="col-auto">
        <mat-form-field>
          <input matInput [(ngModel)]='user.username' placeholder="نام کاربری">
        </mat-form-field>
      </div>
      <div class="col-auto">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerauto" placeholder="json gregorian input" >
          <mat-datepicker-toggle matSuffix [for]="pickerauto"></mat-datepicker-toggle>
          <mat-datepicker #pickerauto></mat-datepicker>
        </mat-form-field>
      </div>


    </div>
  </div>
  <mat-card-actions dir="ltr">
    <button mat-raised-button (click)="saveOrUpdate(user)" color="primary">ذخیره</button>
    <button mat-raised-button (click)="back()" color="primary">بازگشت</button>


  </mat-card-actions>
</mat-card>








