

    <div class="card-group">
      <div class="card">
        <div class="card-body">
    <h5 class="card-title">کاربر</h5>
    <form #formUser="ngForm" novalidate>
      <div class="form-row">
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ایمیل</span>
            </div>
            <input #email="ngModel" #emailElement required name="email" type="text" [(ngModel)]="user.email"
                   class="form-control" placeholder="Username"
                   aria-label="Username"
                   aria-describedby="basic-addon1">
          </div>
          <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">
            email is required.
          </div>

        </div>
        <div class="col-sm-4">
          <section>
            <mat-checkbox [(ngModel)]="user.enabled" name="enabled" color="primary"   >
              <span>فعال ؟ </span>
            </mat-checkbox>
          </section>
          <!--<div class="form-group form-check">-->
            <!--<label class="form-check-label" for="exampleCheck1">فعال</label>-->
            <!--<input [(ngModel)]="role.enabled" type="checkbox" class="form-check-input" id="exampleCheck1">-->
          <!--</div>-->

        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">نام</span>
            </div>
            <input #firstName="ngModel" #firstNameElement required name="firstName" type="text"
                   [(ngModel)]="user.firstName" class="form-control" placeholder="Username"
                   aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger" role="alert">
            firstName is required.
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon4">فامیلی</span>
            </div>
            <input #lastName="ngModel" #lastNameElement required name="lastName" type="text" [(ngModel)]="user.lastName"
                   class="form-control" placeholder="Username"
                   aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger" role="alert">
            lastName is required.
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon8">نام کاربری</span>
            </div>
            <input #username="ngModel" #usernameElement required name="username" type="text" [(ngModel)]="user.username"
                   class="form-control" placeholder="Username"
                   aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div *ngIf="username.invalid && username.touched" class="alert alert-danger" role="alert">
            username is required.
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon5">رمز</span>
            </div>
            <input #password="ngModel" #passwordElement required name="password" type="text" [(ngModel)]="user.password"
                   class="form-control" placeholder="Username"
                   aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div *ngIf="password.invalid && password.touched" class="alert alert-danger" role="alert">
            password is required.
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-check">
            <label class="form-check-label" for="tokenExpiredCheck">فعال</label>
            <input [(ngModel)]="user.tokenExpired" name="tokenExpired" type="checkbox" class="form-check-input" id="tokenExpiredCheck">
          </div>

        </div>
      </div>
      <div >


      </div>
    </form>
        </div></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">نقش</h5>
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Outline form field</mat-label>-->
<!--            <input matInput placeholder="Placeholder">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Toppings</mat-label>-->
<!--            <mat-select [formControl]="toppings" multiple>-->
<!--              <mat-select-trigger>-->
<!--                {{toppings.value ? toppings.value[0].name : ''}}-->
<!--                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">-->
<!--        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})-->
<!--      </span>-->
<!--              </mat-select-trigger>-->
<!--              <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->


<!--          <mat-form-field class="example-chip-list">-->
<!--            <mat-chip-list #chipList aria-label="Fruit selection">-->
<!--              <mat-chip *ngFor="let fruit of roles" [selectable]="selectable"-->
<!--                        [removable]="removable" (removed)="remove(fruit)">-->
<!--                {{fruit.name}}-->
<!--                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
<!--              </mat-chip>-->

<!--            </mat-chip-list>-->
<!--          </mat-form-field>-->

          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let role of user.roles"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(role)">
                {{role.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="نقش جدید ... "
                #roleInput
                [formControl]="roleCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                >
            </mat-chip-list>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let role of filteredRole | async" [value]="role">
                {{role.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </div></div>
    </div>


    <div class="card">
      <div class="card-body">

    <div class="bottom-form">
      <button  mat-raised-button (click)="saveOrUpdate(user)" color="primary">ذخیره
      </button>
      <button mat-raised-button (click)="back()" color="primary">بازگشت</button>
    </div>
      </div></div>



<!--[disabled]="formUser.invalid"-->









