@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";


body {
  margin: 0;
  background-color: aliceblue;
  text-align: right;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.bottom-form{
  text-align: end;
}
.input-group-text{
  border-radius: 0 5px 5px 0 !important;

}
.form-control{
  border-radius:  5px 0 0 5px  !important;
}
.mat-raised-button{
  margin: 2px !important;
}
