<div class="mb-container">
<mat-toolbar color="primary">
    <button mat-raised-button [matMenuTriggerFor]="menu"  >
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button mat-mini-fab color="primary"  (click)="sidenav.toggle()" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()" >خروج</button>
    </mat-menu>
    <span ></span>
</mat-toolbar>



<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

    <button mat-menu-item routerLink="./user/search">کاربر</button>
    <button mat-menu-item routerLink="./role/search">نقش</button>


  </mat-sidenav>
  <mat-sidenav-content>
<!--    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>-->
<!--    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>


