<div style="margin-bottom: 20px">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>home</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="./user/search">کاربر</button>
      <button mat-menu-item routerLink="./role/search">نقش</button>


      <button mat-menu-item (click)="logout()" >خروج</button>

    </mat-menu>
    <span ></span>
  </mat-toolbar-row>
</mat-toolbar>
</div>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
